{% extends '_base.html' %}
{% load static %}

<!-- {% block title %}{% endblock title %} -->

{% block content %}
<h1>{{ unit| upper }}</h1>
<section>Status: <span class="badge badge-primary">{{unit.status}}</span></section>
<br />

{% comment %} Project Details {% endcomment %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{unit.project.image.url}}" class="card-img" alt="{{unit.project}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'project_details' unit.project.slug %}">
                {{unit.project}}
            </a>
        </h5>
        <p class="card-text">
            <span>{{unit.address}}</span><br />
            <span>Status: <span class="badge badge-primary">{{unit.project.status}}</span></span>
        </p>
      </div>
    </div>
  </div>
</div>
{% comment %} Project details ends {% endcomment %}

{% comment %} list owners {% endcomment %}
<div class="card border-secondary mb-3">
  <div class="card-header">Owners</div>
    <ul class="list-group list-group-flush">
        {% for owner in unit.owner.all %}
            <li class="list-group-item">{{owner.full_name}}</li>
        {% endfor %}
    </ul>
</div>
{% comment %} owners list ends {% endcomment %}

{% comment %} unit demand section {% endcomment %}
{% if unit.demand.all.count > 0  %}
<div class="card border-secondary mb-3">
    <div class="card-header">Demand & Receipt</div>
    <table class="table table-responsive-md table-hover">
        <thead>
            <tr>
            <th scope="col-2">Demand Date</th>
            <th scope="col-1">Status</th>
            <th scope="col-5">Description</th>
            <th scope="col-2">Demand Letter</th>
            <th scope="col-2">Receipt</th>
            </tr>
        </thead>
        <tbody>
            {% for demand in unit.demand.all|dictsort:"demand_date" %}
            <tr>
                <td>{{demand.demand_date}}</td>
                <td>{{demand.status}}</td>
                <td>{{demand.description}}</td>
                <td><a href="{{demand.demand_letter.url}}">
                        <img src="{% static 'images/icons/download.svg' %}" alt="Download" class="btn icon-btn" />
                    </a>
                </td>
                <td>
                    {% if demand.receipt %}
                    <a href="{{demand.receipt.url}}">
                        <img src="{% static 'images/icons/download.svg' %}" alt="Download" class="btn icon-btn" />
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% comment %} unit demand section ends {% endcomment %}

{% comment %} unit and project docs {% endcomment %}
{% if docs.count > 0  %}
<div class="card border-secondary mb-3">
    <div class="card-header">Documents</div>
    <table class="table table-responsive-md table-hover">
        <thead>
            <th>Library</th>
            <th>Title</th>
            <th>Description</th>
            <th>File</th>
        </thead>
        <tbody>      
    {% for doc in docs %}
            <tr>
                <td>{{doc.library}}</td>
                <td>{{doc.title}}</td>
                <td>{{doc.description}}</td>
                <td>
                    <a href="{{doc.file.url}}">
                        <img src="{% static 'images/icons/download.svg' %}" alt="Download" class="btn icon-btn" />
                    </a>
                </td>
            </tr>
        </tbody
    {% endfor %}
    </table>
</div>
{% endif %}
{% comment %} unit and project docs end {% endcomment %}

{% endblock content %}